<!DOCTYPE html>
<html lang="en">
<head>
  
    <%- include('partial/head') %> 

</head>
<body>

    <%- include('partial/navbar') %> 

  <h1>Books by <%= authors.first_name %> <%= authors.last_name %></h1>

  <%- include('partial/searchBar') %> 

  <table class="table table-bordered">
    <thead class="thead-light">
      <th>TITLE</th>
      <th>GENRE</th>
      <th>RELEASE YEAR</th>
      <th>STATUS</th>
      <th>ACTION</th>
    </thead>
    <tbody>
      <% authors.Books.forEach(el => { %>
        <tr>
          <td><%= el.title %> </td>
          <td><%= el.genre %> </td>
          <td><%= el.released_year %> </td>
          <td><%= el.status %> </td>
          <td>
            <a href="" style="text-decoration: none; color: teal; background-color: aliceblue;">BORROW</a>
            <a href="" style="text-decoration: none; color: brown; background-color: antiquewhite;">RETURN</a>
          </td>
        </tr>
      <% }) %> 
    </tbody>
  </table>
</body>
</html>