<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentalBookBook</title>
</head>
<body>
  <a href="/books">List Book</a>
  <h1>Edit Book Information</h1>
  <form action="/books/edit/<%= dataBook.id %>" method="post">
    <div>
      <label for="">TITLE</label><br>
      <input type="text" name="title" value="<%= dataBook.title %>">
    </div>
    <br>
    <div>
      <label for="">AUTHOR</label><br>
      <select name="AuthorId" id="">
        <% dataAuthor.forEach((el) => { %>
          <% if (dataBook.AuthorId == el.id) { %>
            <option selected value="<%= dataBook.AuthorId  %>"><%= dataBook.Author.fullName %> </option>
          <% } else { %>
            <option value="<%= el.id %> "><%= el.fullName %> </option>
          <% } %> 
        <% }) %>           
      </select>
    </div>
    <br>
    <div>
      <label for="">GENRE</label><br>
      <input type="text" name="genre" value="<%= dataBook.genre %>">
    </div>
    <br>
    <div>
      <label for="">RELEASE YEAR</label><br>
      <input type="number" name="released_year" value="<%= dataBook.released_year %>">
    </div>
    <br>
    <label for="">STATUS</label><br>
    <select name="status" id="">
      <option value="" disabled selected>--SELECT ONE--</option>
      <option value="available">available</option>
      <option value="not available">not available</option>
    </select>
    <br><br>
    <button type="submit">Save Edit</button>
  </form>
</body>
</html>