<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentalBookBook</title>
</head>
<body>
  <a href="/authors">Authors</a>
  <h1>List of Books</h1>
  <a href="/books/add">Add New Book</a>
  <br><br>
  <form action="/books" method="get">
    <input type="search" name="search">
    <button type="submit">Search</button>
  </form>
  <br><br>
  <table border="1">
    <thead>
      <th>TITLE</th>
      <th>GENRE</th>
      <th>AUTHOR</th>
      <th>RELEASE YEAR</th>
      <th>STATUS</th>
      <th>ACTION</th>
    </thead>
    <tbody>
      <% result.forEach((el) => { %>
        <tr>
          <td><%= el.title %> </td>
          <td><%= el.genre %> </td>
          <td><%= el.Author.fullName %> </td>
          <td><%= el.released_year %> </td>
          <td><%= el.status %> </td> <!--MASIH NULL, HARUS DIBUAT HOOKS-NYA -->
          <td>
            <a href="/books/edit/<%= el.id %>">EDIT</a>
          </td>
        </tr>
      <% }) %> 
    </tbody>
  </table>
</body>
</html>